body {
    background-color:#131212;
}

p {
    color: lightslategray;
}

ul {
    
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    display:inline;
    margin: 4px;
    padding: 2px;
    float:left;
    list-style-type:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
li a {
    border-style: ridge;
    border-radius: 18px;
    border-width: 3px;
    border-color: cadetblue;
    display: block;
    padding: 6px;
    background-color: rgb(110, 104, 104);
    color:rgb(20, 19, 19);
    text-decoration: none;
}

li a:hover {
background-color: rgb(46, 122, 46);
color:darkblue;
}

.active {
    background-color: greenyellow;
    color:blue;
    text-decoration: underline;
}